NUKLAI_RPC="http://127.0.0.1:36901/ext/bc/26oLn3Fva9x1H8iifoWMbEva9SzQ4mvY34mj2U4uuvBPyoMtnH" # Required: Nuklai RPC endpoint

HOST="" # Optiona: Leave empty to bind to all interfaces
PORT=10591 # Optional: Default is 10591
PRIVATE_KEY_BYTES="Mjsdj07tXw2p2pMHGwNPLc6dLSJpLBcvPLJSpk3fr9AbBX3jICl8Ka0MH1ieohaGnPGTjYjJ+9cNZ0gyPb8vpw==" # Optional: Will use "nuklai1qrzvk4zlwj9zsacqgtufx7zvapd3quufqpxk5rsdd4633m4wz2fdjss0gwx" to sign transactions
AMOUNT=100000000 # Optional: Default is 100000000
START_DIFFICULTY=25 # Optional: Default is 25
SOLUTIONS_PER_SALT=10 # Optional: Default is 10
TARGET_DURATION_PER_SALT=300 # Optional: Default is 300
ADMIN_TOKEN="ADMIN_TOKEN" # Optional: Default is "ADMIN_TOKEN"
NUKLAI_FAUCET_DB_PATH=".nuklai-faucet/db" # Optional: Default is ".nuklai-faucet/db"